host-management-html/source/views/account.jade
block vars
  -title="Manage hosting"
extends layouts/layout
block main
    .main-content
        include includes/user-head.jade
        .container
            .account-content
                .page-head
                    .row
                        .col-md-6.col-xs-12
                            h1.page-ttl 
                                | Toan Nguyen
                                span.user-mail 
                                    i.fa.fa-envelope
                                    | xfireman12345@gmail.com
                        .col-md-6.col-xs-12.text-right
                            a.add-new-server(href="javascript:;") Deploy new server
                .cus-tab
                    .row
                        ul.nav.nav-tabs
                            li.active
                                a(data-toggle='tab', href='#profile') Profile
                            li
                                a(data-toggle='tab', href='#auth') Authentication
                            li
                                a(data-toggle='tab', href='#acc-api') API
                            li
                                a(data-toggle='tab', href='#user-tab') Users
                            li
                                a(data-toggle='tab', href='#noti-tab') Notifications
        .hr-divider
        .container
            .tab-content.cus-tab-ct
                #profile.tab-pane.fade.in.active
                    include blocks/account/profile.jade
                #auth.tab-pane.fade
                    include blocks/account/auth.jade
                #acc-api.tab-pane.fade
                    include blocks/account/api.jade
                #user-tab.tab-pane.fade
                    include blocks/account/user-tab.jade
                #noti-tab.tab-pane.fade
                    include blocks/account/noti-tab.jade

host-management-html/public/account.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>Manage hosting</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i&amp;amp;subset=vietnamese" rel="stylesheet">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <div class="main-menu"><a href="javascript:;" class="responsive-btn"><i class="fa fa-bars"></i></a><a href="index.html" class="logo"><img src="images/logo/logo.png" alt=""></a>
        <ul class="menu-lst">
          <li><a href="index.html" class="menu-itm active"><i class="fa fa-server"></i><span class="text">Servers</span></a></li>
          <li><a href="billing.html" class="menu-itm"><i class="fa fa-credit-card"></i><span class="text">Billing</span></a></li>
          <li><a href="support.html" class="menu-itm"><i class="fa fa-info"></i><span class="text">Support</span></a></li>
          <li><a href="#" class="menu-itm"><i class="fa fa-link"></i><span class="text">Affiliate</span></a></li>
          <li><a href="account.html" class="menu-itm"><i class="fa fa-user"></i><span class="text">Accounts</span></a></li>
        </ul>
      </div>
    </header>
    <section class="main">
      <div class="main-content">
        <div class="container">
          <div class="user-head clearfix">
            <div class="dropdown text-right"><a id="user-func" href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle">Welcome, Toan Nguyen<span class="caret"></span></a>
              <ul aria-labelledby="user-func" class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Authentication</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Notification</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="account-content">
            <div class="page-head">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <h1 class="page-ttl">
                     
                    Toan Nguyen<span class="user-mail"> <i class="fa fa-envelope"></i>xfireman12345@gmail.com</span>
                  </h1>
                </div>
                <div class="col-md-6 col-xs-12 text-right"><a href="javascript:;" class="add-new-server">Deploy new server</a></div>
              </div>
            </div>
            <div class="cus-tab">
              <div class="row">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
                  <li><a data-toggle="tab" href="#auth">Authentication</a></li>
                  <li><a data-toggle="tab" href="#acc-api">API</a></li>
                  <li><a data-toggle="tab" href="#user-tab">Users</a></li>
                  <li><a data-toggle="tab" href="#noti-tab">Notifications</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-divider"></div>
        <div class="container">
          <div class="tab-content cus-tab-ct">
            <div id="profile" class="tab-pane fade in active">
              <div class="profile-tab account-ct">
                <h3 class="ttl">Your info</h3>
                <form>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 col-xs-12">
                        <label class="cus-label"><span>First name</span>
                          <input type="text" placeholder="First name" value="Toan">
                        </label>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <label class="cus-label"> <span>Last name</span>
                          <input type="text" placeholder="Last name" value="Nguyen">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="cus-label"><span>Email</span>
                      <input type="text" placeholder="Email" value="xfireman123456@gmail.com" readonly>
                    </label><a href="javascript:;" class="change-mail">Change email</a>
                  </div>
                  <div class="form-group">
                    <label class="cus-label"><span>Phone</span>
                      <input type="text" placeholder="Phone number" value="065989652">
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="cus-label"><span>Address</span>
                      <input type="text" placeholder="Address" value="">
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="cus-label"><span>Address (line 2)</span>
                      <input type="text" placeholder="Address (line 2)" value="">
                    </label>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 col-xs-12">
                        <label class="cus-label"> <span>City</span>
                          <input type="text" placeholder="City" value="Ho Chi Minh">
                        </label>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <label class="cus-label"> <span>Zipcode</span>
                          <input type="text" placeholder="Zipcode" value="700000">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="cus-label"><span>Country</span>
                      <select>
                        <option value="">Viet Name</option>
                        <option value="">Japan</option>
                        <option value="">France</option>
                        <option value="">Germany</option>
                        <option value="">Russia</option>
                      </select>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="cus-label"><span>Company</span>
                      <input type="text" placeholder="Company" value="">
                    </label>
                  </div>
                  <div class="form-group">
                    <button class="submit-frm text-capitalize">Update profile</button>
                  </div>
                </form>
              </div>
            </div>
            <div id="auth" class="tab-pane fade">
              <div class="auth-tab account-ct">
                <div class="auth-itm">
                  <h3 class="ttl">Two Factor Auth</h3>
                  <p>Keep your account secure by enabling two-factor authentication. Each time you log in, you’ll be required to provide your password plus a randomly generated access code.</p>
                  <button class="submit-frm text-capitalize">Manage two factor auth</button>
                </div>
                <div class="auth-itm">
                  <h3 class="ttl">Change password</h3>
                  <form>
                    <div class="form-group clearfix">
                      <label class="cus-label"><span>Current password</span>
                        <input type="password" placeholder="Current password" value="">
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="cus-label"><span>New password</span>
                        <input type="password" placeholder="New password" value="">
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="cus-label"><span>Confirm new password</span>
                        <input type="password" placeholder="Confirm new password" value="">
                      </label>
                    </div>
                    <div class="form-group">
                      <button class="submit-frm text-capitalize">Change password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div id="acc-api" class="tab-pane fade">
              <div class="api-tab account-ct">
                <div class="api-tab-itm">
                  <h3 class="ttl">Personal Access Token</h3>
                  <p>API Access is currently disabled on your account. </p><a href="#" class="read-docs">Read the SmartDigiTech documentation.</a>
                  <button class="submit-frm text-capitalize">Enable api</button>
                </div>
                <div class="api-tab-itm">
                  <p>Reselling and using WHMCS? Download the official Vultr WHMCS module, and read the module documentation.</p>
                  <button class="docs">Docs</button>
                  <button class="download">Download</button>
                </div>
              </div>
            </div>
            <div id="user-tab" class="tab-pane fade">
              <div class="user-tab">
                <h3 class="ttl">User list</h3>
                <div class="head-opt">
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      <div class="filter show-itm">
                        <label>Show:</label>
                        <select>
                          <option value="">5</option>
                          <option value="">10</option>
                          <option value="">20</option>
                          <option value="">30</option>
                        </select><a href="#" class="add-new">Add user</a>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <div class="filter text-right">
                        <label>Sort by:</label>
                        <select>
                          <option value="">Label</option>
                          <option value="">Location</option>
                          <option value="">Tag</option>
                          <option value="">Date Created</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table">
                  <tr>
                    <th class="chk-all chk-td"> 
                      <input id="chk-all" type="checkbox">
                      <label for="chk-all"></label>
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td class="chk-td">
                      <input id="chk-1" type="checkbox">
                      <label for="chk-1"></label>
                    </td>
                    <td>
                      <p>Mr Gay</p>
                    </td>
                    <td>
                      <p>gaylo@gmail.com</p>
                    </td>
                    <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td class="chk-td">
                      <input id="chk-2" type="checkbox">
                      <label for="chk-2"></label>
                    </td>
                    <td>
                      <p>Fastboy</p>
                    </td>
                    <td>
                      <p>fastboy@gmail.com</p>
                    </td>
                    <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td class="chk-td">
                      <input id="chk-3" type="checkbox">
                      <label for="chk-3"></label>
                    </td>
                    <td>
                      <p>Mr Gay</p>
                    </td>
                    <td>
                      <p>gaylo@gmail.com</p>
                    </td>
                    <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td class="chk-td">
                      <input id="chk-4" type="checkbox">
                      <label for="chk-4"></label>
                    </td>
                    <td>
                      <p>Mr Gay</p>
                    </td>
                    <td>
                      <p>gaylo@gmail.com</p>
                    </td>
                    <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </table>
                <nav aria-label="">
                  <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div id="noti-tab" class="tab-pane fade">
              <div class="noti-tab account-ct">
                <div class="noti-itm">
                  <h3 class="ttl">Maintenance and Outage Notifications</h3>
                  <div class="noti-setting">
                    <p>
                       
                      Send E-mails for Outage and Maintenance
                    </p>
                    <div class="cus-chk">
                      <input id="chk-11" type="checkbox">
                      <label for="chk-11"></label>
                    </div>
                  </div>
                  <button class="submit-frm text-capitalize">Update</button>
                </div>
                <div class="noti-itm">
                  <h3 class="ttl">Bandwidth Preferences</h3>
                  <div class="noti-setting">
                    <p>
                       
                      Send E-mails on Bandwidth Usage<span data-toggle="tooltip" data-placement="top" title="Notified when any VM exceeds 75%, 90% and 100% of the bandwidth limit." class="tooltip-inf"><i class="fa fa-question-circle-o"></i></span>
                    </p>
                    <div class="cus-chk">
                      <input id="chk-12" type="checkbox">
                      <label for="chk-12"></label>
                    </div>
                  </div>
                  <div class="noti-setting">           
                    <p>
                       
                      Stop VMs on Bandwidth Usage<span data-toggle="tooltip" data-placement="top" title="Usage checked hourly - may still incur up to one hour of overage if limit is set to 100%." class="tooltip-inf"><i class="fa fa-question-circle-o"></i></span>
                    </p>
                    <div class="cus-chk">
                      <input id="chk-13" type="checkbox">
                      <label for="chk-13"></label>
                    </div>
                  </div>
                  <button class="submit-frm text-capitalize">Update bandwidth settings</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>
