host-management-html/public/billing.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>Billing</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i&amp;amp;subset=vietnamese" rel="stylesheet">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <div class="main-menu"><a href="javascript:;" class="responsive-btn"><i class="fa fa-bars"></i></a><a href="index.html" class="logo"><img src="images/logo/logo.png" alt=""></a>
        <ul class="menu-lst">
          <li><a href="index.html" class="menu-itm active"><i class="fa fa-server"></i><span class="text">Servers</span></a></li>
          <li><a href="billing.html" class="menu-itm"><i class="fa fa-credit-card"></i><span class="text">Billing</span></a></li>
          <li><a href="support.html" class="menu-itm"><i class="fa fa-info"></i><span class="text">Support</span></a></li>
          <li><a href="#" class="menu-itm"><i class="fa fa-link"></i><span class="text">Affiliate</span></a></li>
          <li><a href="account.html" class="menu-itm"><i class="fa fa-user"></i><span class="text">Accounts</span></a></li>
        </ul>
      </div>
    </header>
    <section class="main">
      <div class="main-content">
        <div class="container">
          <div class="user-head clearfix">
            <div class="dropdown text-right"><a id="user-func" href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle">Welcome, Toan Nguyen<span class="caret"></span></a>
              <ul aria-labelledby="user-func" class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Authentication</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Notification</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="page-head">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <h1 class="page-ttl">
                   
                  Billing
                </h1><a href="#" class="billing-notice">$4.80<span>Charges this month</span></a><a href="#" class="billing-notice text-success">$3.39<span>Remaining credit</span></a>
              </div>
              <div class="col-md-6 col-xs-12 text-right"><a href="javascript:;" class="add-new-server">Deploy new server</a></div>
            </div>
          </div>
        </div>
        <div class="hr-divider billing-hr"></div>
        <div class="container">
          <div class="billing-content">
            <div class="row">
              <div class="col-md-2 col-xs-12">
                <div class="cus-tab billing-tab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#credit-card"> <i class="fa fa-credit-card"></i>Credit card</a></li>
                    <li><a data-toggle="tab" href="#atm"> <i class="fa fa-bank"></i>ATM card</a></li>
                    <li><a data-toggle="tab" href="#paypal"> <i class="fa fa-cc-paypal"></i>Paypal</a></li>
                    <li><a data-toggle="tab" href="#bitcoin"> <i class="fa fa-bitcoin"></i>Bitcoin</a></li>
                    <li><a data-toggle="tab" href="#giftcode"> <i class="fa fa-gift"></i>Gift code</a></li>
                    <li><a data-toggle="tab" href="#history"> <i class="fa fa-line-chart"></i>History</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-10 col-xs-12">
                <div class="tab-content cus-tab-ct">
                  <div id="credit-card" class="tab-pane fade in active">
                    <div class="credit-card">
                      <div class="billing-ttl">
                        <h3 class="text-capitalize">Make payment with credit card</h3>
                      </div>
                      <form>
                        <div class="card-frm">
                          <div class="form-group">
                            <label class="cus-label"><span>Name on card</span>
                              <input type="text" placeholder="Name on card" class="ipt">
                            </label>
                          </div>
                          <div class="form-group">
                            <label class="cus-label"><span>Billing address</span>
                              <input type="text" placeholder="Billing address" class="ipt">
                            </label>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-xs-12">
                              <div class="form-group">
                                <label class="cus-label"><span>Billing city</span>
                                  <input type="text" placeholder="Billing city" class="ipt">
                                </label>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                              <div class="form-group">
                                <label class="cus-label"><span>Postal code</span>
                                  <input type="text" placeholder="Postal code" class="ipt">
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="cus-label"><span>Country</span>
                              <select>
                                <option value="">Viet Name</option>
                                <option value="">Japan</option>
                                <option value="">France</option>
                                <option value="">Germany</option>
                                <option value="">Russia</option>
                              </select>
                            </label>
                          </div>
                          <p class="text-capitalize blk-ttl">Credit card details</p>
                          <div class="form-group">
                            <label class="cus-label"><span>Card number</span>
                              <input type="text" placeholder="Card number" class="ipt">
                            </label>
                          </div>
                          <div class="row">
                            <div class="col-md-4 col-xs-12">
                              <div class="form-group">
                                <label class="cus-label"><span>Expire month (MM)</span>
                                  <input type="text" placeholder="Expire month (MM)" class="ipt">
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                              <div class="form-group">
                                <label class="cus-label"><span>Expire year (YY)</span>
                                  <input type="text" placeholder="Expire year (YY)" class="ipt">
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                              <div class="form-group">
                                <label class="cus-label"><span>Security code</span>
                                  <input type="text" placeholder="Security code" class="ipt">
                                </label>
                              </div>
                            </div>
                          </div>
                          <p class="text-capitalize blk-ttl">Choose amount</p>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="amount5" type="radio" name="amount" value="5">
                                  <label for="amount5">$5</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="amount10" type="radio" name="amount" value="10">
                                  <label for="amount10">$10</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="amount25" type="radio" name="amount" value="25">
                                  <label for="amount25">$25</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="amount50" type="radio" name="amount" value="50">
                                  <label for="amount50">$50</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="amount100" type="radio" name="amount" value="100">
                                  <label for="amount100">$100</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="amount250" type="radio" name="amount" value="250">
                                  <label for="amount250">$250</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6 col-xs-12">
                                <div class="billing-rdo">
                                  <input id="linkonly" type="radio" name="amount" value="0">
                                  <label for="linkonly">Link only ($0 deposit)</label>
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                <label for="amount-custom" class="amount-cus">
                                  <input id="amount-custom" type="text" placeholder="Enter amount ($)">
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <button class="submit-frm text-capitalize">Pay with credit card</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- END: CREDIT CARD TAB-->
                  <div id="atm" class="tab-pane fade in active">
                    <div class="credit-card">
                      <div class="billing-ttl">
                        <h3 class="text-capitalize">Make payment with ATM card</h3>
                      </div>
                      <form>
                        <div class="card-frm">
                          <div class="form-group">
                            <label class="cus-label"><span>Cardholder</span>
                              <input type="text" placeholder="Cardholder" class="ipt">
                            </label>
                          </div>
                          <div class="form-group">
                            <label class="cus-label"><span>Card number</span>
                              <input type="text" placeholder="Card number" class="ipt">
                            </label>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-xs-12">
                              <div class="form-group">
                                <label class="cus-label"><span>Expire month (MM)</span>
                                  <input type="text" placeholder="Expire month (MM)" class="ipt">
                                </label>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                              <div class="form-group">
                                <label class="cus-label"><span>Expire year (YY)</span>
                                  <input type="text" placeholder="Expire year (YY)" class="ipt">
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="cus-label"><span>Enter amount</span>
                              <input type="text" placeholder="Enter amount" class="ipt">
                            </label>
                          </div>
                          <p class="text-capitalize blk-ttl">Accept payment with:</p>
                          <div class="form-group text-center"><img src="images/b_banks.png" alt=""></div>
                          <div class="form-group">
                            <button class="submit-frm text-capitalize">Pay with ATM card</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- END: ATM CARD TAB-->
                  <div id="paypal" class="tab-pane fade in active">
                    <div class="credit-card">
                      <div class="billing-ttl">
                        <h3 class="text-capitalize">Make a PayPal Payment</h3>
                      </div>
                      <form>
                        <div class="card-frm">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="paypal5" type="radio" name="paypal" value="5">
                                  <label for="paypal5">$5</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="paypal10" type="radio" name="paypal" value="10">
                                  <label for="paypal10">$10</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="paypal25" type="radio" name="paypal" value="25">
                                  <label for="paypal25">$25</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="paypal50" type="radio" name="paypal" value="50">
                                  <label for="paypal50">$50</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="paypal100" type="radio" name="paypal" value="100">
                                  <label for="paypal100">$100</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="paypal250" type="radio" name="paypal" value="250">
                                  <label for="paypal250">$250</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="amount-custom" class="amount-cus">
                              <input id="amount-custom" type="text" placeholder="Enter amount ($)">
                            </label>
                          </div>
                          <div class="form-group">
                            <button class="submit-frm text-capitalize">Pay with paypal</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- END: PAYPAL TAB-->
                  <div id="bitcoin" class="tab-pane fade in active">
                    <div class="credit-card">
                      <div class="billing-ttl">
                        <h3 class="text-capitalize">Make a Bitcoin Payment</h3>
                      </div>
                      <form>
                        <div class="card-frm">
                          <p>No Refunds available for Bitcoin deposits. Bitcoin deposits may take up to 120 minutes to process.</p>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="bitcoin5" type="radio" name="bitcoin" value="5">
                                  <label for="bitcoin5">$5</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="bitcoin10" type="radio" name="bitcoin" value="10">
                                  <label for="bitcoin10">$10</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="bitcoin25" type="radio" name="bitcoin" value="25">
                                  <label for="bitcoin25">$25</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="bitcoin50" type="radio" name="bitcoin" value="50">
                                  <label for="bitcoin50">$50</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="bitcoin100" type="radio" name="bitcoin" value="100">
                                  <label for="bitcoin100">$100</label>
                                </div>
                              </div>
                              <div class="col-md-2 col-xs-4">
                                <div class="billing-rdo">
                                  <input id="bitcoin250" type="radio" name="bitcoin" value="250">
                                  <label for="bitcoin250">$250</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="amount-custom" class="amount-cus">
                              <input id="amount-custom" type="text" placeholder="Enter amount ($)">
                            </label>
                          </div>
                          <div class="form-group">
                            <button class="submit-frm text-capitalize">Pay with Bitcoin</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- END: BITCOIN TAB-->
                  <div id="giftcode" class="tab-pane fade in active">
                    <div class="credit-card">
                      <div class="billing-ttl">
                        <h3 class="text-capitalize">Do you have a Gift Code?</h3>
                      </div>
                      <form>
                        <div class="card-frm">
                          <div class="form-group">
                            <label for="amount-custom" class="amount-cus">
                              <input id="amount-custom" type="text" placeholder="Gift code">
                            </label>
                          </div>
                          <div class="form-group">
                            <button class="submit-frm text-capitalize">Apply gift code</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- END: GIFTCODE TAB-->
                  <div id="history" class="tab-pane fade in active">
                    <div class="history">
                      <div class="balance-blks"><a href="#" class="balance-blk"> <span class="numb text-success">-$8.19</span><span class="text text-capitalize">Account Balance</span><span class="notice">Finalized Invoices and Payments</span></a><span class="operator">+</span><a href="#" class="balance-blk"> <span class="numb text-danger">$4.78</span><span class="text text-capitalize">Charge this month</span><span class="notice">Invoiced on September 1st</span></a><span class="operator">
                           
                          =</span><a href="#" class="balance-blk"> <span class="numb text-success">$3.41</span><span class="text text-capitalize">Remeaning credit</span><span class="notice">You Have Credit!</span></a></div>
                      <div class="head-opt">
                        <div class="row">
                          <div class="col-md-12 col-xs-12">
                            <div class="filter show-itm">
                              <label>New Invoice Notification:</label>
                              <select>
                                <option value="">None</option>
                                <option value="">By Email</option>
                                <option value="">By Email and Attach Invoice</option>
                              </select><a href="#" class="add-new">Save</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <table class="table">
                        <tr>
                          <th>Description</th>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Balance</th>
                          <th>Status</th>
                          <th></th>
                        </tr>
                        <tr>
                          <td>
                            <p>Invoice #4205828</p>
                          </td>
                          <td>
                            <p>2017-08-01</p>
                          </td>
                          <td>
                            <p>$30.74</p>
                          </td>
                          <td>
                            <p>-$8.19</p>
                          </td>
                          <td>
                            <p class="text-success"> <strong>Completed</strong></p>
                          </td>
                          <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-file"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <p>Invoice #4205828</p>
                          </td>
                          <td>
                            <p>2017-08-01</p>
                          </td>
                          <td>
                            <p>$30.74</p>
                          </td>
                          <td>
                            <p>-$8.19</p>
                          </td>
                          <td>
                            <p class="text-success"> <strong>Completed</strong></p>
                          </td>
                          <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-file"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <p>Invoice #4205828</p>
                          </td>
                          <td>
                            <p>2017-08-01</p>
                          </td>
                          <td>
                            <p>$30.74</p>
                          </td>
                          <td>
                            <p>-$8.19</p>
                          </td>
                          <td>
                            <p class="text-success"> <strong>Completed</strong></p>
                          </td>
                          <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-file"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <p>Invoice #4205828</p>
                          </td>
                          <td>
                            <p>2017-08-01</p>
                          </td>
                          <td>
                            <p>$30.74</p>
                          </td>
                          <td>
                            <p>-$8.19</p>
                          </td>
                          <td>
                            <p class="text-success"> <strong>Completed</strong></p>
                          </td>
                          <td class="text-center"><a href="javascript:;" class="tb-opt"><i class="fa fa-file"></i></a></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!-- END: HISTORY TAB-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

host-management-html/source/views/billing.jade
block vars
  -title="Billing"
extends layouts/layout
block main
    .main-content
        include includes/user-head.jade
        .container
            .page-head
                .row
                    .col-md-6.col-xs-12
                        h1.page-ttl 
                            | Billing
                        a.billing-notice(href="#")
                            | $4.80
                            span Charges this month
                        a.billing-notice.text-success(href="#")
                            | $3.39
                            span Remaining credit
                    .col-md-6.col-xs-12.text-right
                        a.add-new-server(href="javascript:;") Deploy new server
                
        .hr-divider.billing-hr
        .container
            .billing-content
                .row
                    .col-md-2.col-xs-12
                        .cus-tab.billing-tab
                            ul.nav.nav-tabs
                                li.active
                                    a(data-toggle='tab', href='#credit-card') 
                                        i.fa.fa-credit-card
                                        | Credit card
                                li
                                    a(data-toggle='tab', href='#atm') 
                                        i.fa.fa-bank
                                        | ATM card
                                li
                                    a(data-toggle='tab', href='#paypal') 
                                        i.fa.fa-cc-paypal
                                        | Paypal
                                li
                                    a(data-toggle='tab', href='#bitcoin') 
                                        i.fa.fa-bitcoin
                                        | Bitcoin
                                li
                                    a(data-toggle='tab', href='#giftcode') 
                                        i.fa.fa-gift
                                        | Gift code
                                li
                                    a(data-toggle='tab', href='#history') 
                                        i.fa.fa-line-chart
                                        | History
                    .col-md-10.col-xs-12
                        .tab-content.cus-tab-ct
                            #credit-card.tab-pane.fade.in.active
                                include blocks/billing/credit-card.jade
                            // END: CREDIT CARD TAB
                            #atm.tab-pane.fade.in.active
                                include blocks/billing/atm.jade
                            // END: ATM CARD TAB
                            #paypal.tab-pane.fade.in.active
                                include blocks/billing/paypal.jade
                            // END: PAYPAL TAB
                            #bitcoin.tab-pane.fade.in.active
                                include blocks/billing/bitcoin.jade
                            // END: BITCOIN TAB
                            #giftcode.tab-pane.fade.in.active
                                include blocks/billing/giftcode.jade
                            // END: GIFTCODE TAB
                            #history.tab-pane.fade.in.active
                                include blocks/billing/history.jade
                            // END: HISTORY TAB
