host-management-html/public/new-server.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>Manage hosting</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i&amp;amp;subset=vietnamese" rel="stylesheet">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <div class="main-menu"><a href="javascript:;" class="responsive-btn"><i class="fa fa-bars"></i></a><a href="index.html" class="logo"><img src="images/logo/logo.png" alt=""></a>
        <ul class="menu-lst">
          <li><a href="index.html" class="menu-itm active"><i class="fa fa-server"></i><span class="text">Servers</span></a></li>
          <li><a href="billing.html" class="menu-itm"><i class="fa fa-credit-card"></i><span class="text">Billing</span></a></li>
          <li><a href="support.html" class="menu-itm"><i class="fa fa-info"></i><span class="text">Support</span></a></li>
          <li><a href="#" class="menu-itm"><i class="fa fa-link"></i><span class="text">Affiliate</span></a></li>
          <li><a href="account.html" class="menu-itm"><i class="fa fa-user"></i><span class="text">Accounts</span></a></li>
        </ul>
      </div>
    </header>
    <section class="main">
      <div class="main-content">
        <div class="container">
          <div class="user-head clearfix">
            <div class="dropdown text-right"><a id="user-func" href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle">Welcome, Toan Nguyen<span class="caret"></span></a>
              <ul aria-labelledby="user-func" class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Authentication</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Notification</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="server-content">
            <div class="page-head">
              <h1 class="page-ttl text-capitalize text-center">Deploy new instance</h1>
            </div>
            <div class="cus-tab">
              <div class="row">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#sd-cloud-compute">Smart DigiTech Cloud Compute</a></li>
                  <li><a data-toggle="tab" href="#snapshot-tab">Storage Instance</a></li>
                  <li><a data-toggle="tab" href="#snapshot-tab">Dedicated Instance</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-divider"></div>
        <div class="container">
          <div class="tab-content cus-tab-ct">
            <div id="sd-cloud-compute" class="tab-pane fade in active">
              <div class="cloud-compute">
                <h3 class="tab-ttl text-capitalize"><span>1</span>Server location</h3>
              </div>
            </div>
            <!-- END: Smart DigiTech Cloud Compute TAB-->
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

host-management-html/source/views/new-server.jade
block vars
  -title="Manage hosting"
extends layouts/layout
block main
    .main-content
        
        include includes/user-head.jade
        .container
            .server-content
                .page-head
                    h1.page-ttl.text-capitalize.text-center Deploy new instance
                .cus-tab
                    .row
                        ul.nav.nav-tabs
                            li.active
                                a(data-toggle='tab', href='#sd-cloud-compute') Smart DigiTech Cloud Compute
                            li
                                a(data-toggle='tab', href='#snapshot-tab') Storage Instance
                            li
                                a(data-toggle='tab', href='#snapshot-tab') Dedicated Instance
        .hr-divider
        .container
            .tab-content.cus-tab-ct
                #sd-cloud-compute.tab-pane.fade.in.active
                    include blocks/new-server/cloud-compute.jade
                // END: Smart DigiTech Cloud Compute TAB
